.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  background-color: black;
  overflow-x: hidden !important;
}

.franco{
  margin-left: 1.5% !important;
}
 .footer-links a {
  color: #3C3C3C;
 }

 #root img {
  width: 100%;
  height: 100%;
 }

 img:hover {
  transform: scale(1.1);
}
img {
  transition: transform 0.2s;
}

.titoloFilm{
  visibility: hidden;
}

.latos{
  margin-right: 4.5% !important;
}
.footer-links a:hover{
  color: white;
}
.netflixlogo{
  width: 15% !important;
}